.frame-child {
    position: absolute;
    top: 46px;
    left: 45px;
    width: 1657px;
    height: 752px;
    object-fit: cover;
  }
  .frame-item {
    position: absolute;
    width: calc(100% + 57px);
    top: 0;
    right: -36px;
    left: -21px;
    background-color: var(--color-yellowgreen);
    height: 47px;
  }
  .ellipse-div,
  .frame-child1,
  .frame-inner {
    position: absolute;
    top: 11px;
    left: 16px;
    border-radius: 50%;
    background-color: var(--color-white);
    width: 25px;
    height: 25px;
  }
  .ellipse-div,
  .frame-child1 {
    left: 53px;
  }
  .frame-child1 {
    left: 90px;
  }
  .ellipse-icon {
    position: absolute;
    top: 28px;
    left: 647px;
    width: 100px;
    height: 100px;
  }
  .frame-child2,
  .frame-child3,
  .frame-child4,
  .frame-child5 {
    position: absolute;
    top: 28px;
    left: 800px;
    border-radius: 50%;
    background-color: var(--color-gray-200);
    width: 100px;
    height: 100px;
  }
  .frame-child3,
  .frame-child4,
  .frame-child5 {
    left: 953px;
  }
  .frame-child4,
  .frame-child5 {
    left: 1106px;
  }
  .frame-child5 {
    top: 35px;
    left: 1266px;
  }
  .gamed {
    position: absolute;
    top: 242px;
    left: 636px;
    font-size: 100px;
    line-height: 140.63%;
    color: var(--color-yellowgreen);
    display: inline-block;
    width: 410px;
    height: 97px;
  }
  .rectangle-div {
    position: absolute;
    top: 740px;
    left: 451px;
    border-radius: 40px;
    background-color: #fdf8f8;
    width: 399px;
    height: 51px;
  }
  .level-up-your {
    margin: 0;
  }
  .level-up-your-container {
    position: absolute;
    top: 345px;
    left: 524px;
    font-size: 50px;
    line-height: 140.63%;
    color: var(--color-yellowgreen);
  }
  .focal-point,
  .legends,
  .signup-login,
  .warprep,
  .warzone {
    position: absolute;
    top: 54px;
    left: 620px;
    line-height: 140.63%;
    display: inline-block;
    width: 155px;
    height: 47px;
  }
  .focal-point,
  .legends,
  .signup-login,
  .warprep {
    left: 771px;
  }
  .focal-point,
  .signup-login,
  .warprep {
    left: 1078px;
  }
  .focal-point,
  .signup-login {
    top: 47px;
    left: 1244px;
  }
  .focal-point {
    top: 38px;
    left: 926px;
  }
  .background,
  .group-icon {
    position: absolute;
    top: 62px;
    left: 43px;
    width: 274px;
    height: 169px;
  }
  .background {
    height: 98.36%;
    width: 99.5%;
    top: 0;
    right: 0.5%;
    bottom: 1.64%;
    left: 0;
    border-radius: 5px;
    border: 1px solid var(--color-yellowgreen);
    box-sizing: border-box;
  }
  .text {
    position: absolute;
    width: calc(100% - 34px);
    top: calc(50% - 12.5px);
    left: 17px;
    line-height: 134.77%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-secondary {
    position: absolute;
    height: 8.25%;
    width: 12.06%;
    top: 68.94%;
    right: 44.39%;
    bottom: 22.8%;
    left: 43.55%;
    border: 1px solid var(--color-yellowgreen);
    box-sizing: border-box;
    font-size: var(--font-size-lg);
    color: var(--color-yellowgreen);
    font-family: var(--font-roboto);
  }
  .vector-parent {
    position: absolute;
    top: 69px;
    left: 39px;
    background-color: rgba(182, 196, 225, 0.6);
    width: 1666px;
    height: 739px;
    overflow: hidden;
  }
  .frame-child6 {
    position: absolute;
    width: calc(100% + 77px);
    top: 808px;
    right: -77px;
    left: 0;
    background-color: var(--color-yellowgreen);
    height: 78px;
  }
  .frame1 {
    position: absolute;
    top: 125px;
    left: -3699px;
    background-color: var(--color-white);
    width: 1745px;
    height: 877px;
    overflow: hidden;
    font-family: var(--font-share-tech);
  }
  .frame-child7 {
    position: absolute;
    top: 191px;
    left: 562px;
    border-radius: 98px;
    background-color: var(--color-khaki-100);
    width: 625px;
    height: 540px;
  }
  .name-total-points-container,
  .subtitle {
    position: absolute;
    top: 228px;
    left: 526px;
    line-height: 140.63%;
    display: inline-block;
    color: var(--color-black);
    width: 426px;
    height: 477px;
  }
  .subtitle {
    margin: 0;
    height: 3.88%;
    width: 27.91%;
    top: 12.34%;
    left: 35.89%;
    font-size: 45px;
    font-weight: 700;
    font-family: inherit;
    color: var(--color-yellowgreen);
  }
  .rectangle-a {
    text-decoration: none;
    position: absolute;
    top: 643px;
    left: 855px;
    background-color: var(--color-gainsboro);
    width: 55px;
    height: 55px;
  }
  .your-paragraph-text-13-2 {
    position: absolute;
    top: 42px;
    left: 86px;
    width: 394px;
    height: 301px;
    object-fit: cover;
  }
  .frame-child10,
  .frame-child11,
  .frame-child12,
  .frame-child13,
  .frame-child8,
  .frame-child9 {
    text-decoration: none;
    position: absolute;
    top: 114px;
    left: 1334px;
    background-color: var(--color-khaki-100);
    width: 249px;
    height: 229px;
  }
  .frame-child10,
  .frame-child11,
  .frame-child12,
  .frame-child13,
  .frame-child9 {
    top: 228px;
    left: 792px;
    width: 322px;
    height: 46px;
  }
  .frame-child10,
  .frame-child11,
  .frame-child12,
  .frame-child13 {
    top: 313px;
    left: 883px;
    width: 278px;
    height: 43px;
  }
  .frame-child11,
  .frame-child12,
  .frame-child13 {
    top: 395px;
    left: 855px;
    background-color: var(--color-khaki-200);
  }
  .frame-child12,
  .frame-child13 {
    top: 561px;
    left: 883px;
  }
  .frame-child13 {
    top: 478px;
    left: 871px;
    background-color: var(--color-khaki-100);
  }
  .frame {
    position: relative;
    background-color: var(--color-yellowgreen);
    width: 100%;
    height: 855px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-11xl);
    color: var(--color-white);
    font-family: var(--font-roboto);
  }
  